*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#gameWrapper {
    width: 100%;
    height: 100vh;
    margin-top: -2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lettersField > * {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 15px;
    font-size: 40px;
    display: inline-block;
}
#imageOfMan{
    width: 800px;
}
#letterInputForm{
    display: flex;
    flex-direction: column;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.popup__body {
    position: relative;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    background-color: #fff;
    min-width: 800px;
    min-height: 500px;
    position: relative;
    text-align: center;
    color: black;
    padding: 30px;
    border: green dashed 5px;
    border-radius: 20px;
}
.popup__close {
    position: absolute;
    color: red;
    font-weight: bold;
    right: 10px;
    top: 10px;
    text-decoration: none;
    font-size: 20px;
}
.popup__text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

input[type=text]{
  margin: 50px;
  padding: 15px;
  font-size: 30px;
  width: 60px;
  border: 2px solid black;
}

input[type=submit]{
font-size: 25px;
}